:root {
  --dark: #132637;
  --light: #fff;
  --main-color: #9e1a94;
  --highlight: #b483f0;
  --darker-highlight: #7d0ec9;
  --active-link: rgb(126, 247, 126);
  --right-border: rgb(144, 176, 247);

}

* {
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
}
html {
  scroll-behavior: smooth;
  scroll-padding: 18rem;
}

h1 {
  font-size: 4rem;
  color: var(--light);
}

h2 {
  font-size: 3rem;
  color: var(--main-color);
}

h3 {
  font-size: 2.5rem;
}

h4 {
  font-size: 2rem;
}
h5 {
  font-size: 1.7rem;
}
p,
ul {
  font-size: 1.2rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  line-height: 1.3;
  color: #444;
  background-color: white;
  width: 100%;
  padding-top: 25rem;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: var(--dark);
  opacity: 93%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 5.5rem;
  z-index: 100;
}

.navbar {
  width: 100%;
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3rem;
}

.nav-menu {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 2rem;
  right: 0;
}

.hamburger {
  display: none;
  cursor: pointer;
  margin-left: 2rem;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: white;
}

nav a {
  color: var(--highlight);
  font-weight: bold;
  text-decoration: none;
}

nav a:hover {
  color: var(--right-border);
}

nav a:active {
  color: var(--active-link);
}

.hero {
  display: flex;
  position: absolute;
  top: 0;
  height: 380px;
  width: 100%;
  margin-bottom: 25px;
  background-image: url("../images/portfolio-hero.jpg");
  background-size: cover;
  background-position: center;
}

section {
  display: inline-flex;
  margin-bottom: 4rem;
  margin-top: 2rem;
  width: 100%;
  flex-direction: row;
  align-items: center;
}

.section-left {
  min-width: 23rem;
  left: 0px;
  position: relative;
  padding-right: 2rem;
  border-right: solid 4px var(--right-border);
  min-height: 8rem;
  padding-left: 5rem;

}
.section-left img {
  width: auto;
  height: 250px;
  border: double 10px var(--darker-highlight);
}

.section-left h2 {
  position: absolute;
  top: 10px;
  right: 0;
  padding-right: 1rem;
  text-decoration: none;
}

.section-right {
  flex: 1;
  right: 0;
  position: relative;
  padding-left: 3rem;
  margin-left: 1rem;
  padding-bottom: 0;
}

.contact-right {
  display: inline-flex;
  justify-items: center;
  justify-content: flex-start;
  gap: 3rem;
}

.contact-right a {
  color: #132637;
}

.contact-right p {
  font-size: 1.5rem;
  padding: 0;
  margin: 0;
}

.contact-right-icon img {
  width: auto;
  height: 2.3rem;
  margin-right: 3rem;
  padding: 0;
}

.contact-right-icon img:hover {
  -webkit-filter: brightness(150%);
}

.code-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 100%;
  width: 92%;
  padding: 1rem;
  outline: 4px dashed var(--main-color);
  outline-offset: -2px;
  transition: all 0.5s ease-in-out;
}

.code-card h4 {
  position: relative;
  margin: 0.5rem 0;
  padding: 0.5rem;
  justify-content: baseline;
  background-color: var(--main-color);
  color: white;
  border: 2px solid var(--highlight);
  transition: all 0.5s ease-in-out;
  text-align: center;
  z-index: 1;
}

.code-card:hover,
.code-card:hover h4 {
  box-shadow: inset 0px 0px 8px var(--dark), 0 0 15px var(--main-color);
}

.code-card img {
  position: relative;
  width: 100%;

}
.card-columns {
  display: flex;
  width: 95%;
  flex-direction: row;
  justify-content: center;
  margin-top: 2rem;
}

.code-card2 {
  min-height: 100%;
  width: 44%;
  padding: 1rem;
  margin: 1.5rem;
  border: 4px double var(--right-border);
  outline-offset: -2px;
  transition: all 0.5s ease-in-out;
}

.code-card2 h5 {
  position: relative;
  margin: 0.5rem 0;
  padding: 0.5rem;
  justify-content: center;
  background-color: var(--right-border);
  color: white;
  border: 2px solid var(--right-border);
  transition: all 0.5s ease-in-out;
  text-align: center;
  z-index: 1;
}

.code-card2:hover,
.code-card2:hover h5 {
  box-shadow: inset 0px 0px 8px var(--darker-highlight), 0 0 15px var(--dark);
}

.code-card2 img {
  position: relative;
  width: 100%;

}

footer {
    background-color: var(--dark);
    color: white;
    width: 100%;
    min-height: 3rem;
    padding: 2rem;
    text-align: center;
  }

  .animated-area {
    margin-left: 25%;
    padding: 0;
    text-align: center;
  }

  .animated-text {
  background-image: linear-gradient(
    -225deg,
    #231557 1%,
    #44107a 29%,
    #9e1a94 70%,
    #00ffbb 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 3s reverse infinite;
  display: inline-block;
      font-size: 7rem;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}





@media screen and (max-width: 768px) {
  header {
    flex-direction: column;
  }
  html {
    scroll-behavior: smooth;
    scroll-padding: 22rem;
  }

  main {
    max-width: 1024px;
    display: flex;
    justify-content: center;
    justify-items: center;
  }
  body,
  section, 
  .section-left, 
  .section-right, 
  .card-columns {
    flex-direction: column;
    max-width: 100%;
    justify-content: center;
    justify-items: center;
    margin: 1rem 0;
  }

  body {
    padding-top: 14rem;
  }
  h1, h2, h3, h4, h5, .section-left h2 {
    text-align: center;
    justify-content: center;
    justify-items: center;
    margin: 1rem 0;
    width: 100%;

  }
  .section-left {
    border-right: none; 
  }
  .code-card, .code-card2 {
    width: 90%;
    justify-content: center;
    justify-items: center;
    border: 3px solid var(--darker-highlight);
    outline: none;
    mar
  }

  .hero {
    height: 220px;
    margin: 0;
  }

  .hamburger {
    display: block;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-menu {
    position: fixed;
    left: -100%;
    top: 70px;
    flex-direction: column;
    background-color: var(--dark);
    width: 100%;
    text-align: center;
    transition: 0.3s;
    margin-top: 18px;
  }

  .nav-item {
    margin: 10px 0;
  }

  .nav-item ul li {
    margin: 0;
    line-height: normal;
  }

  .nav-menu.active {
    left: 0;
    color: var(--active-link);
  }

  .animated-text {
    display: none;
  }

  .contact-right-icon img {
    width: auto;
    height: 1.5rem;
    margin-right: 2rem;
  }
}
